@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary: #6b59d3;
  --secondary: #bfc0c0;
  --white: #fff;
  --text-clr: #5b6475;
  --header-clr: #25273d;
  --next-btn-hover: #8577d2;
  --back-btn-hover: #8b8c8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--primary);
  color: var(--text-clr);
  font-size: 16px;
  position: relative;
  .wrapper {
    width: 750px;
    max-width: 100%;
    background: var(--white);
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 5px;

    form {
      margin-bottom: 35px;

      h2 {
        color: var(--header-clr);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .input_wrap {
        width: 350px;
        max-width: 100%;
        margin: 0 auto 20px;
        &:last-child {
          margin-bottom: 0;
        }

        label {
          display: block;
          margin-bottom: 5px;
        }

        .form-control {
          border: 2px solid var(--secondary);
          border-radius: 3px;
          padding: 10px;
          display: block;
          width: 100%;
          font-size: 16px;
          transition: 0.5s ease;

          &:focus {
            border-color: var(--primary);
          }
        }
        .form-error {
          display: block;
          color: red;
          margin: 0.5rem 0;
        }
      }
    }

    .btns_wrap {
      width: 350px;
      max-width: 100%;
      margin: 0 auto;

      .common_btns {
        display: flex;
        justify-content: space-between;

        &.form_1_btns {
          justify-content: flex-end;
        }

        button {
          border: 0;
          padding: 12px 15px;
          background: var(--primary);
          color: var(--white);
          width: 135px;
          justify-content: center;
          display: flex;
          align-items: center;
          font-size: 16px;
          border-radius: 3px;
          transition: 0.5s ease;
          cursor: pointer;

          &.btn_back {
            background: var(--secondary);

            &:hover {
              background: var(--back-btn-hover);
            }

            .icon {
              display: flex;
              margin-right: 10px;
            }
          }
          &.btn_next {
            .icon {
              display: flex;
              margin-left: 10px;
            }
          }

          &.btn_next:hover,
          &.btn_done:hover {
            background: var(--next-btn-hover);
          }
        }
      }
    }
  }
}
