<form [formGroup]="skillForm" [attr.aria-label]="title">
  <h2>{{ title }}</h2>
  <div class="form_container">
    <div class="input_wrap">
      <label for="degree">Degree *</label>
      <select
        class="form-control"
        id="degree"
        formControlName="degree"
        required
      >
        <option>No Degree</option>
        <option>Associate Degree</option>
        <option>Bachelor Degree</option>
        <option>Master Degree</option>
        <option>Doctor Degree</option>
      </select>

      <span
        class="form-error"
        *ngIf="degreeCtrl?.touched && degreeCtrl?.errors?.['required']"
      >
        Degree is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="years">Years *</label>
      <input
        class="form-control"
        type="number"
        formControlName="years"
        required
        id="years"
      />
      <span
        class="form-error"
        *ngIf="yearsCtrl?.touched && yearsCtrl?.errors?.['required']"
      >
        Years is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="status">Status *</label>
      <select
        class="form-control"
        id="status"
        formControlName="status"
        required
      >
        <option>Not employed</option>
        <option>Employed</option>
        <option>Self employed</option>
      </select>

      <span
        class="form-error"
        *ngIf="statusCtrl?.touched && statusCtrl?.errors?.['required']"
      >
        Status is required
      </span>
    </div>

    <div class="input_wrap">
      <label for="reference">References *</label>
      <textarea
        class="form-control"
        rows="4"
        formControlName="reference"
        required
      ></textarea>
      <span
        class="form-error"
        *ngIf="referenceCtrl?.touched && referenceCtrl?.errors?.['required']"
      >
        Reference is required
      </span>
    </div>
  </div>
</form>
