<form [formGroup]="addressForm" [attr.aria-label]="title">
  <h2>{{ title }}</h2>

  <div class="form_container">
    <div class="input_wrap">
      <label for="country">Country *</label>
      <input
        class="form-control"
        type="text"
        formControlName="country"
        required
        id="country"
      />
      <span
        class="form-error"
        *ngIf="countryCtrl?.touched && countryCtrl?.errors?.['required']"
      >
        Country is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="state">State *</label>
      <input
        class="form-control"
        type="text"
        formControlName="state"
        required
        id="state"
      />

      <span
        class="form-error"
        *ngIf="stateCtrl?.touched && stateCtrl?.errors?.['required']"
      >
        State is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="city">City *</label>
      <input
        class="form-control"
        type="text"
        formControlName="city"
        required
        id="city"
      />

      <span
        class="form-error"
        *ngIf="cityCtrl?.touched && cityCtrl?.errors?.['required']"
      >
        City is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="street">Street *</label>
      <input
        class="form-control"
        type="text"
        formControlName="street"
        required
        id="street"
      />
      <span
        class="form-error"
        *ngIf="streetCtrl?.touched && streetCtrl?.errors?.['required']"
      >
        Street is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="building">Building *</label>
      <input
        class="form-control"
        type="text"
        formControlName="building"
        required
        id="building"
      />

      <span
        class="form-error"
        *ngIf="buildingCtrl?.touched && buildingCtrl?.errors?.['required']"
      >
        Building is required
      </span>
    </div>
  </div>
</form>
