<form [formGroup]="personalForm" [attr.aria-label]="title">
  <h2>{{ title }}</h2>
  <div class="form_container">
    <div class="input_wrap">
      <label for="firstName">First name *</label>
      <input
        id="firstName"
        class="form-control"
        type="text"
        formControlName="firstName"
        required
      />
      <span
        class="form-error"
        *ngIf="firstNameCtrl?.touched && firstNameCtrl?.errors?.['required']"
      >
        First name is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="lastName">Last name *</label>
      <input
        class="form-control"
        type="text"
        id="lastName"
        formControlName="lastName"
        required
      />
      <span
        class="form-error"
        *ngIf="lastNameCtrl?.touched && lastNameCtrl?.errors?.['required']"
      >
        Last name is required
      </span>
    </div>
    <div class="input_wrap">
      <label for="age">Age *</label>
      <input
        class="form-control"
        type="number"
        id="age"
        formControlName="age"
        required
      />
      <span
        class="form-error"
        *ngIf="ageCtrl?.touched && ageCtrl?.errors?.['required']"
      >
        Age is required
      </span>
      <span
        class="form-error"
        *ngIf="ageCtrl?.touched && ageCtrl?.errors?.['min']"
      >
        Age has to be greater or equal than 18
      </span>
      <span
        class="form-error"
        *ngIf="ageCtrl?.touched && ageCtrl?.errors?.['max']"
      >
        Age has to be less or equal than 120
      </span>
    </div>
    <div class="input_wrap">
      <label for="about">About *</label>
      <input
        class="form-control"
        type="text"
        id="about"
        formControlName="about"
        required
      />
      <span
        class="form-error"
        *ngIf="aboutCtrl?.touched && aboutCtrl?.errors?.['required']"
      >
        About is required
      </span>
    </div>
  </div>
</form>
